
#companion-btn{
  width: 60px;
  height: 30px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgba(252, 50, 50, 0.8);
  padding-top: 5px;
  cursor: pointer;
}

