
/* 사이드바 제목 박스 */
.side-barTitle{
  display: flex;
}
#side-barTitle-a{
  margin: 0;
  padding: 0;
}

#side-barTitle-a:before,
#side-barTitle-a:after,
#side-barTitle-a span:before,
#side-barTitle-a span:after {
  background-color: transparent !important;
}


/* 사이드바 화살표 */
.side-barTitle img{
  
  height: 30px;
  margin-left: 20px;
  margin-top: 60px;
}



/* 컨텐츠 영역 전체 */
.content-all-page {
  width: 100%;


}

/* 컨텐츠 상단 부분 */
.content-all-top-area {
  margin: auto;
  margin-top: 70px;
  margin-left: 130px;
  margin-right: 130px;
}

/* 컨텐츠 상단 텍스트 */
.content-all-top-text1 {
  font-weight: bold;
  font-size: 16px;

  color: var(--gray400);
}

.content-all-top-text2 {
  font-weight: bold;
  font-size: 24px;

  color: var(--black);
}

/* 컨텐츠 하단 부분 */
.content-all-bottom-area {
  margin: auto;
  margin-top: 60px;
  margin-left: 130px;
  margin-right: 130px;
}

.content-all-bottom-area-header >button {
  float: right;
}

.content-all-bottom-area-header{
  display: flex;
  justify-content: space-between;
}

select{
  width: 140px;
  padding: 0px 20px;
  border-radius: 5px;
  font-size: large;
}

/* 검색하기 버튼 */
.search-btn{
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color:rgba(155,215,255,0.5);
  font-size: 16px;
  color: #2778c4;
  cursor: pointer;
  margin-right: 10px;
}

/* 결재 테이블 영역 */

.content-all-bottom-area-content{
  margin-top: 50px;
  
}

.content-all-bottom-area-content table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.content-all-bottom-area-content table th {
  color: var(--gray600);
  border-bottom: 1px solid var(--gray300);
  padding-bottom: 10px;
}


.content-all-bottom-area-content table td{
  color: black;
  padding: 20px;
}

.row{
  cursor: pointer;
}

/* 모달 박스 스타일 */
/* 결재 모달창 */

#check-modalWrap {
  position: fixed;
  z-index: 1;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;

}

.check-modalBody {
  min-width: 570px;
  min-height: 100px;
  max-width: 80%;
  max-height: calc(100vh - 90px);

  background: white;
  border-radius: 10px;

  margin: 0 auto;
  margin-top: 100px;

  position: relative;
  padding: 30px;
  overflow: auto;
  width: 80%;
}

.check-modalBody.modal-open {
  /* 모달이 열릴 때 애니메이션 효과 추가 */
  animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniOpen;
}


/* 모달창 나올때 애니메이션 효과 */
@keyframes modalAniOpen {

  0% {
      opacity: 0;
      transform: translateY(-30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.check-modalBody.modal-close {
  /* 모달이 닫힐 때 애니메이션 효과 추가 */
  animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniClose;
}

/* 모달창 닫을때 애니메이션 효과 */
@keyframes modalAniClose {
  0% {
      opacity: 1;
      transform: translateY(0px);
  }

  100% {
      opacity: 0;
      transform: translateY(-30px);
  }
}

.check-modalBody h1 {
  color: var(--black);

  font-size: 24px;
}


#closeBtn {
  float: right;
  color: var(--black);

  cursor: pointer;

}

#closeBtn img {
  width: 18px;
  height: 18px;
}
/* 모달 */
.check-modal-header{
  background-color: var(--gray50);
  
}
/* 모달 헤더 */
.check-modal-modal-headerbox{
  margin-top: 29px;
  font-size: 16px;
}
.check-modal-headerbox-content{
  padding: 3px 0px;
}

.check-modal-headerbox-footer{
  padding: 20px 0px;
}

.check-modal-headerbox-footer button{
  color: inherit;
  height: 32px;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
}

/* 모달 테이블영역 */

.check-modal-table-body{
  margin-top: 50px;
}

.check-modal-table-body table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.check-modal-table-body table th {
  color: var(--gray600);
  border-bottom: 1px solid var(--gray300);
  padding-bottom: 10px;
}

.check-modal-table-body table tbody tr:nth-of-type(1){
  background-color: var(--primary100);
  border-radius: 10px;
}
.check-modal-table-body table tbody tr:nth-of-type(2){
  background-color: var(--primary200);
  border-radius: 10px;
}
.check-modal-table-body table tbody tr:nth-of-type(3){
  background-color: var(--primary300);
  border-radius: 10px;
}


.check-modal-table-body table td{
  color: black;
  padding: 20px;
}


/*모달 내용 스타일 */
.check-modalBody p {
  color: var(--gray400);

  margin-top: 36px;
}

.check-modal-table-body h2{
  margin-bottom: 20px;
}

.check-modal-detail textarea {
  width: 100%;
  max-height: 350px;

  border: 1px solid var(--gray300);
  border-radius: 5px;

  padding: 10px;

  font-size: 16px;

  overflow: hidden;

  outline: none;
  resize: none;
}

.check-modal-coment input{
  width: 100%;
  height: 50px;
  border: 1px solid var(--gray300);
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  outline: none;
}

.check-modal-approver input{
  width: 100%;
  height: 50px;
  border: 1px solid var(--gray300);
  border-radius: 5px;
  background-color: var(--gray50);
  padding: 10px;
  font-size: 18px;
  outline: none;

}

.check-modal-checkbox{
  margin: 10px 0px 10px;
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: large;
  align-items: center;
}

#check-modal-checkbox{
  height: 15px;
  width: 20px;
}


/* 파일업로드된 스타일 */
.work-preview ol {
  list-style: none;
}

/* 파일 올리기 지우기 버튼 스타일 */
.work-file-box {
  margin-top: 20px;
}

.work-file-box label {
  width: 90px;
  height: 35px;

  padding: 13px;
  display: inline-block;

  font-size: 14px;

  color: white;

  background-color: var(--primary400);

  vertical-align: middle;

  line-height: normal;

  border-radius: 5px;

  cursor: pointer;


}

.work-file-box label:hover {
  background-color: var(--primary500);
  transition: all 1s;
}

.work-filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.work-file-box button {
  width: 90px;
  height: 35px;

  padding: 13px;

  font-size: 14px;

  color: var(--black);

  background-color: var(--gray50);

  border: none;
  border-radius: 5px;

  vertical-align: middle;

  line-height: normal;

  cursor: pointer;
}

.work-file-box button:hover {
  background-color: var(--gray100);
  transition: all 1s;
}


/* 확인 취소 버튼 */
.work-submit-reset-btns {
  margin-top: 20px;

  float: right;
}

#companion-btn{
  width: 60px;
  height: 30px;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: rgba(252, 50, 50, 0.8);
  padding-top: 5px;
  cursor: pointer;
}

#cancell-btn {
  width: 60px;
  height: 30px;

  color: var(--black);

  font-size: 14px;

  border: none;
  border-radius: 5px;

  background-color: var(--gray50);

  padding-top: 5px;

  cursor: pointer;
}

#cancell-btn:hover {
  background-color: var(--gray100);
  transition: all 1s;
}

#success-btn {
  width: 60px;
  height: 30px;

  color: white;

  font-size: 14px;

  border: none;
  border-radius: 5px;

  background-color: var(--primary400);

  padding-top: 5px;

  cursor: pointer;
}

#success-btn:hover {
  background-color: var(--primary500);
  transition: all 1s;
}