/* 결재 모달창 */

#modalWrap, #approver-modal-wrap {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;

}

#approver-modal-wrap {
  z-index: 7;
}

.work-modalBody, .approver-modal-Body {
  min-width: 570px;
  min-height: 100px;
  max-width: 85%;
  max-height: 85%;

  background: white;
  border-radius: 10px;

  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;

  position: relative;
  padding: 30px;
  overflow: auto;
}

.work-modalBody.modal-open {
  /* 모달이 열릴 때 애니메이션 효과 추가 */
  animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniOpen;
}


/* 모달창 나올때 애니메이션 효과 */
@keyframes modalAniOpen {

  0% {
      opacity: 0;
      transform: translateY(-30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.work-modalBody.modal-close {
  /* 모달이 닫힐 때 애니메이션 효과 추가 */
  animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniClose;
}

/* 모달창 닫을때 애니메이션 효과 */
@keyframes modalAniClose {
  0% {
      opacity: 1;
      transform: translateY(0px);
  }

  100% {
      opacity: 0;
      transform: translateY(-30px);
  }
}

.work-modalBody h1, .approver-modal-Body h1 {
  color: var(--black);

  font-size: 24px;
}

/* 닫기 버튼 */
#closeBtn, #approver-closeBtn ,#write-closeBtn {
  float: right;
  color: var(--black);

  cursor: pointer;

}

/* 닫기 버튼 이미지 */
#closeBtn img, #approver-closeBtn img, #write-closeBtn img {
  width: 18px;
  height: 18px;
}

/* 모달 선 */
.work-modal-line {
  border-bottom: 1px solid var(--gray300);

  margin-top: 20px;
}

/* -------------------------------------- */

/*모달 제목 , 내용 스타일 */
.work-modalBody p {
  color: var(--gray400);

  margin-top: 36px;
}

.work-modal-template select{
  width: 25%;
  height: 40px;
}

.work-modal-title input {
  width: 100%;
  height: 50px;

  border: 1px solid var(--gray300);
  border-radius: 5px;

  background-color: var(--gray50);

  padding: 10px;

  font-size: 18px;

  outline: none;
}

.work-modal-title input:focus {
  border-color: var(--primary400);

  background-color: white;
}

.work-modal-title input::placeholder {
  color: var(--gray200);
}

.work-modal-detail textarea,
.work-modal-businessDetail textarea {
  width: 100%;
  max-height: 350px;

  border: 1px solid var(--gray300);
  border-radius: 5px;

  padding: 10px;

  font-size: 16px;

  overflow: hidden;

  outline: none;
  resize: none;
}

.work-modalBody input{
  width: 100%;
  height: 50px;
  border: 1px solid var(--gray300);
  border-radius: 5px;
  background-color: var(--gray50);
  padding: 10px;
  font-size: 18px;
  outline: none;
}

.work-modal-approver input{
  width: 100%;
  height: 50px;
  border: 1px solid var(--gray300);
  border-radius: 5px;
  background-color: var(--gray50);
  padding: 10px;
  font-size: 18px;
  outline: none;

}

.date-Box{
  display: flex;
  gap: 5%;
}

.work-modal-startDate,.work-modal-endDate {
  width: 50%;
}

/* -------------------------------------- */

/* 일반 체크  */
#normal-checkd {
  display: none;
}
/* 프로젝트 체크 */
#project-checked{
  display: none;
}
/* 과제 체크 */
#assignment-checked{
  display: none;
}

/* 선탁창 일반 체크 시 템플릿 */
.work-modal-template-select{
  display: flex;
}

.work-modal-template-select select {
  margin-right: 10px;
}
/* 프로젝트 박스 (과제추가버튼)*/
.work-modal-projectBox{
  float: right;
  margin-block: 5px;
  cursor: pointer;
}
/* 프로젝트 박스 (과제명, 과제내용) */
.projectBox {
  margin-top: 36px;
  border: 1px solid var(--gray300);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
/* 프로젝트 박스 (버튼) */
.projectBox div > button{
  width: 50px;
  height: 30px;
  margin-top: 10px;
  font-size: 14px;
  color: var(--black);
  background-color: var(--gray50);
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  line-height: normal;
  cursor: pointer;
}
/* 결재자 박스 */
.work-modal-approverBox{
  float: right;
  margin-block: 20px;
  cursor: pointer;
}

/*결재자 메뉴*/

*{
  text-decoration: none;
}

#approver-box p {

  display: block;
  
  color: #333;

  margin-top: 0;

  padding: 10px;
  
  }
  /* 결재영역 3등분 */
  .dept-Box, .team-Box, .teamone-Box {
    border: 2px solid var(--primary400);
    overflow-y: auto;
    border-radius: 10px;
    margin: 5px 0px 5px;
    width: 30%;
    list-style: none;
    text-align: center;
  }
  /* 결재영역 p태그 */
  .dept-Box > p ,.team-Box > p {
    background-color: var(--primary400);
    color: white !important;
    border-radius: 10px;
    margin: 10px !important;
  } 

  .executives{
    list-style: none;
  }

  .executives > p ,.dept > p{
    margin: 0 !important;
    height: 30px;
    background-color: var(--primary500);
    color: white;
  } 

  .dept-list{
    display: none;
    list-style: none;
    height: 40px;
    border-top: 1px solid var(--gray300);
    cursor: pointer;
  }
  

  .dept-list > p:hover{
    background: var(--gray300);
    color:white !important;
    transition: 1s;
    transform-origin: top;
    transform: translatey(-100%) rotatex(90deg);
  }
  
 

  .team-list{
    display: none;
  }

  .teamone-Box{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .team-Box ul {
    list-style: none;
  }

  .dept-list ul{
    display: none;
    position: relative;
  }

  .approval-team {
    display: none;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    align-items: center !important;
    gap: 10px !important;
    width: 100%;
  }

  .approval-team > p{
  color: white;
  }

  .approval-team input {
    width: 10px;
    height: 10px;
    display: none;
  }

  .approval-team label {
    color: var(--primary500);
    padding: 5px;
    font-size: 17px;
    margin-right: 0;
    text-shadow: 1px 1px var(--primary200);
}

/* 체크된 라벨 영역 */
.divBox{
  margin: 8px 0px 8px 0px;
}

.divBox input:checked + label{
  padding: 5px 45px 5px 45px;
  font-weight: 300;
  text-align: center;
  line-height: 5px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s;
  background: var(--primary500);
  box-shadow: 0px 5px 0px 0px var(--primary300);
}

.divBox input:checked + label:hover{
  margin-top: 15px;
  margin-bottom: 5px; 
  box-shadow: 0px 0px 0px 0px var(--primary300);
}


/* 여기까지 */

.show{
  display: block;
}

/* 결재자 박스 */

.approver-modal-container{
  width: 100%;
  height: 300px;
  border: 1px solid var(--gray300);
  border-radius: 5px;
  background-color: var(--gray50);
  padding: 10px;
  font-size: 18px;
  outline: none;
  overflow: auto;
  display: flex;
  gap: 5%;
  max-height: 300px; /* 원하는 최대 높이 설정 */
}

.approver-modal-container p{
  margin: 10px 0px 10px;
}

/* 결재자 모달선 */
.approver-modal-line1, .approver-modal-line2{
  border-bottom: 1px solid var(--gray300);
  margin:  20px 0px;

}
/* 확인 취소 버튼 */
.approver-submit-reset-btns{
  float: right;
}

/* 파일업로드된 스타일 */
.work-preview ol {
  list-style: none;
}

#file-uploads{
  display: none;
}

/* 파일 올리기 지우기 버튼 스타일 */
.checked-file-box {
  margin: 20px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 5px;
}

.checked-file-box label {
  width: 90px;
  height: 35px;

  padding: 13px;

  margin-right: 0;
  display: inline-block;

  font-size: 14px;

  color: white;

  background-color: var(--primary400);

  vertical-align: middle;

  line-height: normal;

  border-radius: 5px;

  cursor: pointer;


}

.work-file-box{
  margin-top: 20px;
}

.work-file-box label {
  width: 90px;
  height: 35px;
  padding: 13px;
  display: inline-block;
  font-size: 14px;
  color: white;
  background-color: var(--primary400);
  vertical-align: middle;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
}

.work-file-box label:hover {
  background-color: var(--primary500);
  transition: all 1s;
}

.work-filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


.work-file-box button, .checked-file-box button {
  width: 90px;
  height: 35px;
  padding: 13px;
  font-size: 14px;
  color: var(--black);
  background-color: var(--gray50);
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  line-height: normal;
  cursor: pointer;
}

.work-file-box button:hover {
  background-color: var(--gray100);
  transition: all 1s;
}

/* 임시 저장 */
.work-modal-save{
  margin-top: 20px;
}
/* 임시저장 버튼 */
#save-draft{
  width: 90px;
  height: 35px;
  padding: 13px;
  font-size: 14px;
  color: white;
  background-color: var(--primary400);
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  line-height: normal;
  cursor: pointer;

}

/* 확인 취소 버튼 */
.work-submit-reset-btns {
  margin-top: 20px;

  float: right;
}

#cancell-btn, #approver-cancell-btn {
  width: 60px;
  height: 30px;

  color: var(--black);

  font-size: 14px;

  border: none;
  border-radius: 5px;

  background-color: var(--gray50);

  padding-top: 5px;

  cursor: pointer;
}

#cancell-btn:hover {
  background-color: var(--gray100);
  transition: all 1s;
}

#success-btn, #approver-success-btn {
  width: 60px;
  height: 30px;

  color: white;

  font-size: 14px;

  border: none;
  border-radius: 5px;

  background-color: var(--primary400);

  padding-top: 5px;

  cursor: pointer;

  margin-bottom: 20%;
}

#success-btn:hover {
  background-color: var(--primary500);
  transition: all 1s;
}

/* ------------------------------------ */


.taskTitleSpan{
  margin-top : 10px;
}
