<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">

	<resultMap type="attendance" id="attendance_rm">
		<id property="attnNo" column="ATTN_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="attdTypeNo" column="ATTD_TYPE_NO" />
		<result property="today" column="TODAY" />
		<result property="attnStart" column="ATTN_START" />
		<result property="attnEnd" column="ATTN_END" />
		<result property="workingHours" column="WORKING_HOURS" />
		<result property="extendedWorkingHours" column="EXTENDED_WORKING_HOURS" />
		<result property="attdTypeName" column="ATTD_TYPE_NAME" />
		
	</resultMap>
	
	<select id="selectAttendanceList" parameterType="_int" resultMap="attendance_rm">
		SELECT ATTD_TYPE_NAME , TODAY, ATTN_START, ATTN_END, WORKING_HOURS, EXTENDED_WORKING_HOURS  
		FROM ATTENDANCE 
		JOIN ATTD_TYPE USING(ATTD_TYPE_NO)
		WHERE MEM_NO = ${memNo}
		AND SUBSTR(TODAY, 1, 2) = #{year}
		AND SUBSTR(TODAY, 4, 2) = #{month}
		AND TODAY &lt;= SYSDATE
		ORDER BY TODAY DESC
	</select>
	
	<insert id="startHours" >
		INSERT INTO ATTENDANCE VALUES (
			ATTENDANCE_NO.NEXTVAL, ${memNo}, ${attdTypeNo}, TO_CHAR(SYSDATE, 'YY/MM/DD'), #{attnStart}, '-- : --', '-', '-' 	
		)
	</insert>
	
	<select id="selectStartTime" resultType="string">
		SELECT ATTN_START FROM ATTENDANCE 
		WHERE MEM_NO = ${memNo}
		AND TODAY = TO_CHAR(SYSDATE, 'YY/MM/DD')
	</select>
	
	
	<update id="endHours">
		UPDATE ATTENDANCE SET ATTN_END = #{attnEnd}, WORKING_HOURS = #{workingHours}, EXTENDED_WORKING_HOURS = #{extendedWH}
		WHERE MEM_NO = ${memNo}
		AND TODAY = TO_CHAR(SYSDATE, 'YY/MM/DD')
	</update>
	
	<select id="selectOne" resultMap="attendance_rm">
		SELECT ATTN_START, ATTN_END, WORKING_HOURS FROM ATTENDANCE
		WHERE MEM_NO = ${memNo}
		AND TODAY = #{today}
	</select>










</mapper>
