<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>

	<resultMap type="attendance" id="attendance_rm">
		<id property="attnNo" column="ATTN_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="attdTypeNo" column="ATTD_TYPE_NO" />
		<result property="today" column="TODAY" />
		<result property="attnStart" column="ATTN_START" />
		<result property="attnEnd" column="ATTN_END" />
		<result property="workingHours" column="WORKING_HOURS" />
		<result property="extendedWorkingHours" column="EXTENDED_WORKING_HOURS" />
	</resultMap>
	
	<select id="selectAttendanceList">
		
	</select>
	
	
	
</mapper>
