<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="deptMapper">

	<!-- 부서 게시판 글 목록 조회 -->
	<resultMap type="board" id="board_rm">
		<id 	property="boardNo" 		column="BOARD_NO"/>
		<result property="memName" 		column="MEM_NAME"/>
		<result property="boardTitle" 	column="BOARD_TITLE"/>
		<result property="boardDate" 	column="BOARD_DATE"/>
	</resultMap>

	<!-- 부서 게시판 상세 조회 -->
	<resultMap type="detail" id="detail_rm">
		<id 	property="boardNo" 		column="BOARD_NO"/>
		<result property="memNo" 		column="MEM_NO"/>
		<result property="memName" 		column="MEM_NAME"/>
		<result property="boardTitle" 	column="BOARD_TITLE"/>
		<result property="boardContent" column="BOARD_CONTENT"/>
		<result property="boardFile" 	column="BOARD_FILE"/>
		<result property="boardDate" 	column="BOARD_DATE"/>
		<result property="boardSt" 		column="BOARD_ST"/>
		<result property="deptNo"		column="DEPT_NO"/>
	</resultMap>
	
	
	
	
	
	
	<!-- 부서 게시판 글 개수 총합 -->
	<select id="totalCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) 
		FROM BOARD
		WHERE DEPT_NO = #{deptNo}
		AND BOARD_ST = 'N'
	</select>
	
	<!-- 부서 게시판 목록 조회 -->
	<select id="boardList" parameterType="_int" resultMap="board_rm">
		SELECT BOARD_NO, MEMBER.MEM_NAME, BOARD_TITLE, BOARD_DATE
		FROM BOARD
		JOIN MEMBER ON BOARD.MEM_NO = MEMBER.MEM_NO
		WHERE BOARD.BOARD_ST = 'N'
		AND BOARD.DEPT_NO = ${deptNo}
		ORDER BY BOARD.BOARD_NO DESC
	</select>

</mapper>
