<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetingRoomMapper">

	<resultMap type="meetingRoom" id="meetingRoom_rm">
		<id property="reservationNo" 		column="RESERVATION_NO" />
		<result property="memNo" 			column="MEM_NO"/>
		<result property="memName" 		column="MEM_NAME"/>
		<result property="jobName" 		column="JOB_NAME"/>
		<result property="roomNo" 			column="ROOM_NO"/>
		<result property="reservationDate" column="RESERVATION_DATE"/>
		<result property="reservationTime" column="RESERVATION_TIME"/>		
	</resultMap>
	
	<!-- 회의실 예약 -->
	<insert id="reservationRoom" parameterType="meetingRoom" useGeneratedKeys="true" keyProperty="reservationNo" >
		<selectKey keyProperty="reservationNo" resultType="_int" order="BEFORE">
			SELECT SEQ_RESERVATION_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEETING_ROOM VALUES (
		#{reservationNo}, #{memNo}, #{reservationDate}, #{reservationTime}, #{roomNo}
		)
	</insert>
	
	<!-- 예약한 회의실 조회 -->
	<select id="returnResult" parameterType="_int" resultMap="meetingRoom_rm">
		SELECT 
			RESERVATION_NO, MEM_NO, 
			MEM_NAME, JOB_NAME, ROOM_NO, 
			TO_CHAR(RESERVATION_DATE, 'YYYY-MM-DD') AS RESERVATION_DATE, RESERVATION_TIME
		FROM MEETING_ROOM 
		JOIN MEMBER USING(MEM_NO)
		JOIN JOB  USING(JOB_NO)
		WHERE RESERVATION_NO = #{reservationNo}
	</select>
	

</mapper>
