/* 사이드바 부제목 스타일 */
.side-bar li {
    list-style: none;
  
  }
  
  .desktop li:nth-child(1) {
    border-left: none;
  
    background-color:  var(--side);
  
  }
  
  .desktop li:first-child>a:first-child>span:first-child {
  
    color: var(--black);
  }
  
  .desktop li:first-child>a:first-child {
    padding-left: 40px;
  }
  
  .desktop li:nth-child(4) {
    border-left: 10px solid var(--primary500);
  
    background-color: rgb(230, 232, 236, 50%);
  
  }
  
  .desktop li:nth-child(4)>a:first-child>span:first-child {
  
    color: var(--primary400);
  }
  
  .desktop li:nth-child(4)>a:first-child {
    padding-left: 30px;
  }
  
  