/* 폰트 스타일 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


/* 바디 스타일 */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;


    font-family: 'OTWelcomeRA';

    white-space: nowrap;
}

p {
    margin: 0;
}



/* 박스 전체 스타일 */
.main-box {
    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    margin: 40px;
    margin-right: 0;

    padding: 20px;
}

.main-box2 {
    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

    margin: 0px 40px;
    margin-right: 0;

    padding: 20px;
}


/* 박스 내부 상단부 스타일 */
.main-box-title {
    display: flex;
    justify-content: space-between;
}

.main-box-title-left {
    display: flex;
}


.main-box-title-left img {
    width: 16px;
    height: 16px;

    margin-right: 5px;
}

.main-box-title-left span {
    margin: 0;

    font-size: 16px;
    font-weight: bold;

    color: var(--primary700);
}



.main-box-title-right {
    display: flex;
}

.main-box-title-right img {
    width: 10px;
    height: 10px;

    margin-left: 5px;
}

.main-box-title-right span {
    margin: 0;

    font-size: 16px;
    font-weight: bold;

    color: var(--primary700);
}

.main-box-title-right a {
    text-decoration: none;

    font-size: 16px;
    font-weight: bold;

    color: var(--primary700);

}

/* 메인박스 내부 타이틀 폰트 스타일 */
.main-font-title {
    font-size: 20px;
    font-weight: bold;

    color: var(--black);
}


/* 채팅 */
.chatting-img {
    width: 60px;
    height: 60px;

    border-radius: 15px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.chatting-box {
    position: fixed;

    bottom: 40px;
    right: 40px;
}


/* 기본 버튼 스타일 */
.omen-btn {
    width: 120px;
    height: 35px;

    border: none;
    border-radius: 10px;

    padding: 10px;

    background-color: var(--primary400);

    font-size: 16px;

    color: white;

    cursor: pointer;
}

.omen-btn:hover {
    background-color: var(--primary500);
    transition: all 1s;
}

/* 사이드바 */
.side-bar {
    min-width: 300px;
}


/* 테이블스타일 */
.notice-table {
    margin-top: 80px;
}

.notice-table table {
    width: 100%;
    border-collapse: collapse;
}


.notice-table table th {
    color: var(--gray600);

    border-bottom: 1px solid var(--gray300);

    padding-bottom: 10px;

    font-size: 14px;
    font-weight: 100;
}

.notice-table table td {
    color: var(--black);

    border-bottom: 1px solid var(--gray100);

    padding: 30px 0;
}

.notice-table tbody>tr:hover {
    cursor: pointer;

    background-color: var(--gray50)
}

.notice-table table th:first-child {
    width: 200px;

    text-align: left;
}

.notice-table table th:nth-child(2) {
    width: 1300px;

    text-align: left;
}

.notice-table table th:nth-child(3) {
    text-align: left;
}


/* 모달 박스 스타일 */
/* 공지사항 모달창 */

#modalWrap {
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}



.modalBody {
    min-width: 570px;
    min-height: 100px;
    max-width: 80%;
    max-height: calc(100vh - 90px);

    background: white;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 100px;

    position: relative;
    padding: 30px;
    overflow: auto;
    width: 80%;
}

.modalBody.modal-open {
    /* 모달이 열릴 때 애니메이션 효과 추가 */
    animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniOpen;
}


/* 모달창 나올때 애니메이션 효과 */
@keyframes modalAniOpen {

    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.modalBody.modal-close {
    /* 모달이 닫힐 때 애니메이션 효과 추가 */
    animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniClose;
}

/* 모달창 닫을때 애니메이션 효과 */
@keyframes modalAniClose {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.modalBody h1 {
    color: var(--black);

    font-size: 24px;
}


#closeBtn {
    float: right;
    color: var(--black);

    cursor: pointer;

}

#closeBtn img {
    width: 18px;
    height: 18px;
}

/* 모달 선 */
.modal-line {
    border-bottom: 1px solid var(--gray300);

    margin-top: 20px;
}


/* 제목 , 내용 스타일 */
.modalBody p {
    color: var(--gray400);

    margin-top: 36px;
}

.modal-title input {
    width: 100%;
    height: 50px;

    border: 1px solid var(--gray300);
    border-radius: 5px;

    background-color: var(--gray50);

    padding: 10px;

    font-size: 18px;

    outline: none;
}

.modal-title input:focus {
    border-color: var(--primary400);

    background-color: white;
}

.modal-title input::placeholder {
    color: var(--gray200);
}

.modal-detail textarea {
    width: 100%;
    max-height: 350px;

    border: 1px solid var(--gray300);
    border-radius: 5px;

    padding: 10px;

    font-size: 16px;

    overflow: hidden;

    outline: none;
    resize: none;
}

/* 파일업로드된 스타일 */
.preview ol {
    list-style: none;
}

/* 파일 올리기 지우기 버튼 스타일 */
.file-box {
    margin-top: 20px;
}

.file-box label {
    width: 90px;
    height: 35px;

    padding: 13px;
    display: inline-block;

    font-size: 14px;

    color: white;

    background-color: var(--primary400);

    vertical-align: middle;

    line-height: normal;

    border-radius: 5px;

    cursor: pointer;


}

.file-box label:hover {
    background-color: var(--primary500);
    transition: all 1s;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.file-box button {
    width: 90px;
    height: 35px;

    padding: 13px;

    font-size: 14px;

    color: var(--black);

    background-color: var(--gray50);

    border: none;
    border-radius: 5px;

    vertical-align: middle;

    line-height: normal;

    cursor: pointer;
}

.file-box button:hover {
    background-color: var(--gray100);
    transition: all 1s;
}

/* 확인 취소 버튼 */
.notice-submit-reset-btns {
    margin-top: 20px;

    float: right;
}

#cancell-btn {
    width: 60px;
    height: 30px;

    color: var(--black);

    font-size: 14px;

    border: none;
    border-radius: 5px;

    background-color: var(--gray50);

    padding-top: 5px;

    cursor: pointer;
}

#cancell-btn:hover {
    background-color: var(--gray100);
    transition: all 1s;
}

#success-btn {
    width: 60px;
    height: 30px;

    color: white;

    font-size: 14px;

    border: none;
    border-radius: 5px;

    background-color: var(--primary400);

    padding-top: 5px;

    cursor: pointer;
}

#success-btn:hover {
    background-color: var(--primary500);
    transition: all 1s;
}


/* 공지사항 수정모달창------------------------------------------------------ */

#check-modalWrap {
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}



.check-modalBody {
    min-width: 570px;
    min-height: 100px;
    max-width: 80%;
    max-height: calc(100vh - 90px);

    background: white;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 100px;

    position: relative;
    padding: 30px;
    overflow: auto;
    width: 80%;
}

.check-modalBody.check-modal-open {
    /* 모달이 열릴 때 애니메이션 효과 추가 */
    animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniOpen;
}




.check-modalBody.check-modal-close {
    /* 모달이 닫힐 때 애니메이션 효과 추가 */
    animation: 0.35s ease-in-out 0s 1 normal forwards running modalAniClose;
}



.check-modalBody h1 {
    color: var(--black);

    font-size: 24px;
}


#check-closeBtn {
    float: right;
    color: var(--black);

    cursor: pointer;

}

#check-closeBtn img {
    width: 18px;
    height: 18px;
}

/* 모달 선 */
.modal-line {
    border-bottom: 1px solid var(--gray300);

    margin-top: 20px;
}


/* 제목 , 내용 스타일 */
.check-modalBody p {
    color: var(--gray400);

    margin-top: 36px;
}

.check-modal-title input {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 5px;

    background-color: var(--gray50);

    color: var(--gray700);

    padding: 10px;

    font-size: 18px;

    outline: none;
}


.check-modal-detail {
    width: 100%;
    max-height: 350px;

    border: none;
    border-top: 1px solid var(--gray300);
    border-bottom: 1px solid var(--gray300);

    color: var(--gray700);

    padding: 10px;

    font-size: 16px;

    overflow: hidden;

    outline: none;
    resize: none;
}

.check-modal-detail>p {
    color: var(--black);
}

/* 파일업로드된 스타일 */
.check-preview {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 5px;

    color: var(--gray700);
    background-color: var(--gray50);

    font-family: 'Baloo 2';

    text-decoration: underline;

    padding: 10px;

    font-size: 16px;

    list-style: none;

    cursor: pointer;
}



/* 삭제 닫기 수정 버튼 */
.notice-submit-reset-btns {
    margin-top: 20px;

    float: right;
}

#check-cancell-btn {
    width: 60px;
    height: 30px;

    color: var(--black);

    font-size: 14px;

    border: none;
    border-radius: 5px;

    background-color: var(--gray50);

    padding-top: 5px;

    cursor: pointer;
}

#check-cancell-btn:hover {
    background-color: var(--gray100);
    transition: all 1s;
}

#check-success-btn {
    width: 60px;
    height: 30px;

    color: white;

    font-size: 14px;

    border: none;
    border-radius: 5px;

    background-color: var(--primary400);

    padding-top: 5px;

    cursor: pointer;
}

#check-success-btn:hover {
    background-color: var(--primary500);
    transition: all 1s;
}

#check-remove-btn {
    width: 60px;
    height: 30px;

    color: red;

    font-size: 14px;

    border: none;
    border-radius: 5px;

    background-color: transparent;

    padding-top: 5px;

    cursor: pointer;
}

#check-remove-btn:hover {
    background-color: var(--gray50);
    transition: all 1s;
}

/* sweetAlert 스타일 */
.swal2-popup {
    background-color: white !important;
}

.swal2-title {
    color: var(--gray600) !important;
}

.swal2-input {
    background: white !important;

    border: 1px solid var(--gray400) !important;

    color: var(--black) !important;
}