<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../resources/css/dashBoard/dashBoardResource.css">
</head>
<body>

    <div class="projects mb-4">
        <div class="projects-inner">
            <header class="projects-header">
                <div class="title">Ongoing Projects</div>
                <div class="count">| 32 Projects</div>
                <i class="zmdi zmdi-download"></i>
            </header>
            <table class="projects-table">
                <thead>
                    <tr>
                        <th>Project Task</th>
                        <th>Deadline</th>
                        <th>Leader + Team</th>
                        <th class="text-right">Work State</th>
                        <th>Status</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <p>New Dashboard</p>
                        <p>Google</p>
                    </td>
                    <td>
                        <p>17th Oct, 15</p>
                        <p class="text-danger">End Date</p>
                    </td>
                    <td class="member">
                        <div class="member-info">
                            <p>Myrtle Erickson</p>
                            <p>UK Design Team</p>
                        </div>
                    </td>
                    <td class="status">
                        <span class="status-text status-orange">In progress</span>
                    </td>
                    <td>
                        <select class="action-box">
                            <option>Check</option>
                            <option>Approval</option>
                            <option>Companion</option>
                        </select>
                    </td>
                    <td>
                        <button>제출</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

      
    <!-- 도넛 -->
      <section class="section">
          <div class="donut-chart chart2">
            <div class="slice one"></div>
            <div class="slice two"></div>
            <div class="chart-center">
              <span></span>
            </div>
          </div>
      </section>

      <!-- <div class="project-content">
        <div class="project-info-div">
            <c:forEach var="projectTotal" items="${prList}" >
                <div id="projectDiv-${projectTotal.projectNo}" class="projectDiv">
                    
                    <div class="selectedProject">
                        <span style="display: none;">Project No: ${projectTotal.projectNo}</span>
                        <span>${projectTotal.title}</span>
                        <span>${projectTotal.memName} ${projectTotal.teamName} ${projectTotal.jobName}</span>
                        <span>${projectTotal.start} - ${projectTotal.end}</span>
                        <span>진행도 : ${projectTotal.percent} %</span>
                    </div>
                    <table class="projects-table">
                        <thead>
                            <tr>
                                <th>Project Task</th>
                                <th>Deadline</th>
                                <th>Leader + Team</th>
                                <th class="text-right">Work State</th>
                                <th>Status</th>
                                <th>Submit</th>
                            </tr>
                        </thead>
                        <c:forEach var="taskTotal" items="${projectTotal.taskList}">
                            <tr>
                                <td>
                                    <p>${taskTotal.title}</p>
                                    <p>${taskTotal.taskNo}</p>
                                </td>
                                <td>
                                    <p>17th Oct, 15</p>
                                    <p class="text-danger">End Date</p>
                                </td>
                                <td class="member">
                                    <div class="member-info">
                                        <p>${taskTotal.memName} ${taskTotal.jobName}</p>
                                        <p>UK Design Team</p>
                                    </div>
                                </td>
                                <td class="status">
                                    <span class="status-text status-orange" value="${taskTotal.workState}">In progress</span>
                                </td>
                                <td>
                                    <select class="action-box">
                                        <option>Check</option>
                                        <option>Approval</option>
                                        <option>Companion</option>
                                    </select>
                                </td>
                                <td>
                                    <button>제출</button>
                                </td>
                            </tr>
                        </c:forEach>     
                    </table>
                </div>
            </c:forEach>
        </div>
    </div>  -->

</body>
</html>